body{
    background-color:darkblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.top{
    width:40%;
    height:60%;
    background-color: white;
    margin: auto;
    position: relative;
    top:100px;
    padding:20px;
    border-radius: 10px;
}
.top h1{
    color:blueviolet;
    
}
.top a{
    text-decoration: none;
}
.top hr{
    height: 1.3px;
    background-color:slategray;
    border-radius: 2px;
}
.top h3{
    color:crimson
}
.seta{
    width:100%;
    border: 2px solid slategray;
    border-radius: 10px;
  
}
.setb{
    width:100%;
    border: 1px solid slategray;
    position: relative;
    top:10px;
    border: 2px solid slategray;
    border-radius: 10px;
    
}
.setc{
    width:100%;
    border: 1px solid slategray;
    position: relative;
    top:20px;
    border: 2px solid slategray;
    border-radius: 10px;
    
}
.setd{
    width:100%;
    border: 1px solid slategray;
    position: relative;
    top:30px;
    border: 2px solid slategray;
    border-radius: 10px;
    
}
.top p{
    color:mediumpurple;
    font-size: large;
    padding-left: 10px;
}


.btn{
    margin: auto;
    width:10%;
}
.btn button{
      width:160%;
      padding:6px;
      font-size: large;
      color:white;
      background-color: blue;
      border-radius: 10px;
      border: none;
      margin-top: 60px;
     
}